<!-- endpoints.html -->
{% extends 'Layouts/layout.html' %}

{% block title %}
Lista de Endpoints
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item">
    Panel de control
</li>
<li class="breadcrumb-item active" aria-current="page">
    Lista de Endpoints
</li>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="card shadow-sm rounded-lg">
        <div class="card-header bg-info text-white d-flex justify-content-between align-items-center">
            <h5 class="mb-0">Urls del sitio</h5>
            <i class="bi bi-link-45deg" style="font-size: 1.5rem;"></i>
        </div>
        <div class="card-body">
            <div class="table-responsive">
                <table class="table table-hover table-bordered align-middle">
                    <thead class="bg-dark text-white text-center">
                        <tr>
                            <th scope="col">Nombre</th>
                            <th scope="col">URL</th>
                            <th scope="col">Métodos</th>
                            <th scope="col">Cadena de Búsqueda</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for pattern in url_patterns %}
                        <tr>
                            <td class="text-nowrap">{{ pattern.name }}</td>
                            <td class="text-truncate" style="max-width: 250px;">{{ pattern.url }}</td>
                            <td class="text-center">{{ pattern.methods }}</td>
                            <td class="text-muted">{{ pattern.lookup_str }}</td>
                            
                        </tr>
                        {% endfor %}
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
{% endblock %}
