<!-- portal.html -->
{% extends 'Layouts/layout.html' %}
{% load static %}
{% block title %}
Panel de control
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item">
    Panel de control
</li>
<li class="breadcrumb-item active" aria-current="page">
    Principal
</li>
{% endblock %}

{% block content %}
<div class="container-fluid">

    <div class="row justify-content-md-center">

        <!-- Pagos Hoy -->
        <div class="col-12 col-md-4 col-sm-6">
            <div class="card custom-card card-border-blue">
                <div class="card-body">
                    <h5 class="card-title custom-card-title">Pagos Totales Realizados Hoy</h5>
                    <p class="card-text custom-card-text">{{ pagos_hoy }}</p>
                </div>
            </div>
        </div>

        <!-- Pagos del Mes -->
        <div class="col-12 col-md-4 col-sm-6">
            <div class="card custom-card card-border-blue">
                <div class="card-body">
                    <h5 class="card-title custom-card-title">Pagos Totales Realizados en el Mes</h5>
                    <p class="card-text custom-card-text">{{ pagos_mes }}</p>
                </div>
            </div>
        </div>

        <!-- Pagos del Año -->
        <div class="col-12 col-md-4 col-sm-6">
            <div class="card custom-card card-border-blue">
                <div class="card-body">
                    <h5 class="card-title custom-card-title">Pagos Totales Realizados en el Año</h5>
                    <p class="card-text custom-card-text">{{ pagos_anio }}</p>
                </div>
            </div>
        </div>

        <!-- Suma Pagos Hoy -->
        <div class="col-12 col-md-4 col-sm-6">
            <div class="card custom-card card-border-orange">
                <div class="card-body">
                    <h5 class="card-title custom-card-title">Suma Total de Pagos de Hoy</h5>
                    <p class="card-text custom-card-text">${{ suma_pagos_hoy }}</p>
                </div>
            </div>
        </div>

        <!-- Suma Pagos del Mes -->
        <div class="col-12 col-md-4 col-sm-6">
            <div class="card custom-card card-border-orange">
                <div class="card-body">
                    <h5 class="card-title custom-card-title">Suma Total de Pagos del Mes</h5>
                    <p class="card-text custom-card-text">${{ suma_pagos_mes }}</p>
                </div>
            </div>
        </div>

        <!-- Suma Pagos del Año -->
        <div class="col-12 col-md-4 col-sm-6">
            <div class="card custom-card card-border-orange">
                <div class="card-body">
                    <h5 class="card-title custom-card-title">Suma Total de Pagos del Año</h5>
                    <p class="card-text custom-card-text">${{ suma_pagos_anio }}</p>
                </div>
            </div>
        </div>

        <!-- Recibos Hoy -->
        <div class="col-12 col-md-4 col-sm-6">
            <div class="card custom-card card-border-green">
                <div class="card-body">
                    <h5 class="card-title custom-card-title">Recibos Totales de Hoy</h5>
                    <p class="card-text custom-card-text">{{ recibos_hoy }}</p>
                </div>
            </div>
        </div>

        <!-- Recibos del Mes -->
        <div class="col-12 col-md-4 col-sm-6">
            <div class="card custom-card card-border-green">
                <div class="card-body">
                    <h5 class="card-title custom-card-title">Recibos Totales del Mes</h5>
                    <p class="card-text custom-card-text">{{ recibos_mes }}</p>
                </div>
            </div>
        </div>

        <!-- Recibos del Año -->
        <div class="col-12 col-md-4 col-sm-6">
            <div class="card custom-card card-border-green">
                <div class="card-body">
                    <h5 class="card-title custom-card-title">Recibos Totales del Año</h5>
                    <p class="card-text custom-card-text">{{ recibos_anio }}</p>
                </div>
            </div>
        </div>

        <!-- Contribuyentes Registrados Hoy -->
        <div class="col-12 col-md-4 col-sm-6">
            <div class="card custom-card card-border-purple">
                <div class="card-body">
                    <h5 class="card-title custom-card-title">Contribuyentes Registrados Hoy</h5>
                    <p class="card-text custom-card-text">{{ contribuyentes_hoy }}</p>
                </div>
            </div>
        </div>

        <!-- Contribuyentes Registrados en el Mes -->
        <div class="col-12 col-md-4 col-sm-6">
            <div class="card custom-card card-border-purple">
                <div class="card-body">
                    <h5 class="card-title custom-card-title">Contribuyentes Registrados en el Mes</h5>
                    <p class="card-text custom-card-text">{{ contribuyentes_mes }}</p>
                </div>
            </div>
        </div>

        <!-- Total Contribuyentes Registrados -->
        <div class="col-12 col-md-4 col-sm-6">
            <div class="card custom-card card-border-purple">
                <div class="card-body">
                    <h5 class="card-title custom-card-title">Total de Contribuyentes Registrados</h5>
                    <p class="card-text custom-card-text">{{ contribuyentes_total }}</p>
                </div>
            </div>
        </div>

        <!-- Total de Propiedades -->
        <div class="col-12 col-md-4 col-sm-6">
            <div class="card custom-card card-border-red">
                <div class="card-body">
                    <h5 class="card-title custom-card-title"><i class="fa fa-building" aria-hidden="true"></i></h5>
                    <h5 class="card-title custom-card-title">Total de Propiedades</h5>
                    <p class="card-text custom-card-text">{{ total_propiedades }}</p>
                </div>
            </div>
        </div>

        <!-- Tarifas Activas -->
        <div class="col-12 col-md-4 col-sm-6">
            <div class="card custom-card card-border-cyan">
                <div class="card-body">
                    <h5 class="card-title custom-card-title"><i class="fa fa-file-text" aria-hidden="true"></i></i></h5>
                    <h5 class="card-title custom-card-title">Tarifas Activas</h5>
                    <p class="card-text custom-card-text">{{ tarifas_activas }}</p>
                </div>
            </div>
        </div>

    </div>

    <div class="row justify-content-center">
        <div class="col-12 col-lg-6">
            <!-- Aqui grafica de suma totales de pagos de todos los recibos por mes de todo el año actual -->
            <div class="card custom-card card-border-red">
                <div class="card-body">

                    <canvas id="pagosPorMesChart"></canvas>
                </div>
            </div>
        </div>
        <div class="col-12 col-lg-6">
            <!-- Aqui grafica de suma totales de recibos  por mes de todo el año actual -->
            <div class="card custom-card card-border-cyan">
                <div class="card-body">
                    <canvas id="recibosPorMesChart"></canvas>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}

{% block js-page %}

<script type="text/javascript" src="{% static 'js/Chart.min.js' %}"></script>
<script>
    document.addEventListener('DOMContentLoaded', function () {
        fetch("{% url 'pagos_por_mes_chart' %}")
            .then(response => response.json())
            .then(data => {
                new Chart(document.getElementById('pagosPorMesChart'), {
                    type: 'bar',
                    data: {
                        labels: data.labels,
                        datasets: data.datasets
                    },
                    options: {
                        responsive: true,
                        title: {
                            display: true,
                            text: 'Pagos Mensuales'
                        },
                    }
                });
            });

        fetch("{% url 'recibos_por_mes_chart' %}")
            .then(response => response.json())
            .then(data => {
                new Chart(document.getElementById('recibosPorMesChart'), {
                    type: 'line',
                    data: {
                        labels: data.labels,
                        datasets: data.datasets
                    },
                    options: {
                        responsive: true,
                        title: {
                            display: true,
                            text: 'Recibos Mensuales'
                        },
                    }

                });
            });
    });

</script>
{% endblock %}