{% extends 'Layouts/layout.html' %}

{% block title %}
Reporte de Contribuyentes
{% endblock %}

{% block breadcrumb %}
<li class="breadcrumb-item">Panel de control</li>
<li class="breadcrumb-item">Reportes</li>
<li class="breadcrumb-item active" aria-current="page">Reporte de Contribuyentes</li>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row justify-content-md-center">
        <div class="col-12 col-md-10">
            <!-- Card de Alerta -->
            <div class="card custom-card card-border-blue mb-3">
                <div class="card-body">
                    <div class="alert alert-info mb-0" role="alert">
                        <i class="fa-solid fa-info-circle"></i>
                        Utilice el siguiente formulario para filtrar y exportar los registros de contribuyentes. 
                        Complete los campos y haga clic en "Exportar" para descargar los resultados en formato CSV.
                    </div>
                </div>
            </div>
            <!-- Card del Formulario -->
            <div class="card custom-card card-border-green mb-3">
                <div class="card-body">
                    <h5 class="card-title custom-card-title">Formulario de Filtros</h5>
                    <form method="get">
                        <div class="row">
                            {% for field in form %}
                            <div class="col-12 col-md-6 mb-3">
                                <label for="{{ field.id_for_label }}" class="form-label">{{ field.label }}</label>
                                {{ field }}
                                <small class="text-muted d-block">
                                    {{ field.help_text|default:"Ingrese el valor correspondiente." }}
                                </small>
                            </div>
                            {% endfor %}
                        </div>
                        <button type="submit" name="export" class="btn btn-secondary w-100">
                            <i class="fa-solid fa-file-lines pe-2"></i> Exportar
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}
