{% extends 'Layouts/layout.html' %}

{% block title %}
Reporte de Contribuyentes
{% endblock %}

{% block content %}
<div class="container-fluid">
    <h1>Reporte de Contribuyentes</h1>
    <hr>
    <div class="row justify-content-md-center">
        <div class="col-12">
            <div class="card custom-card card-border-blue mb-2">
                <div class="card-body">
                    <h5 class="card-title custom-card-title">
                        Utilice el siguiente formulario para filtrar y exportar los registros de contribuyentes.
                        Complete los campos según sea necesario y haga clic en "Exportar" para descargar los resultados
                        en formato CSV.
                    </h5>
                </div>
            </div>
        </div>
    </div>
    <div class="row justify-content-md-center">
        <div class="col-md-8">
            <form method="get" class="form-inline">

                <div class="card-body">
                    <div class="card custom-card card-border-blue mb-2">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="curp" class="card-text custom-card-text">CURP</label>
                                {{ form.curp }}
                            </div>
                        </div>
                    </div>
                    <div class="card custom-card card-border-green mb-2">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="folio_unico" class="card-text custom-card-text">Folio Único</label>
                                {{ form.folio_unico }}
                            </div>
                        </div>
                    </div>
                    <div class="card custom-card card-border-red mb-2">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="nombre" class="card-text custom-card-text">Nombre</label>
                                {{ form.nombre }}
                            </div>
                        </div>
                    </div>
                    <div class="card custom-card card-border-orange mb-2">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="apellido_paterno" class="card-text custom-card-text">Apellido
                                    Paterno</label>
                                {{ form.apellido_paterno }}
                            </div>
                        </div>
                    </div>
                    <div class="card custom-card card-border-cyan mb-2">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="apellido_materno" class="card-text custom-card-text">Apellido
                                    Materno</label>
                                {{ form.apellido_materno }}
                            </div>
                        </div>
                    </div>
                    <div class="card custom-card card-border-purple mb-2">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="telefono" class="card-text custom-card-text">Teléfono</label>
                                {{ form.telefono }}
                            </div>
                        </div>
                    </div>
                    <div class="card custom-card card-border-blue mb-2">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="correo_electronico" class="card-text custom-card-text">Correo
                                    Electrónico</label>
                                {{ form.correo_electronico }}
                            </div>
                        </div>
                    </div>
                    
                    <div class="card custom-card card-border-red mb-2">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="tipo_propiedad" class="card-text custom-card-text">Tipo de Propiedad</label>
                                {{ form.tipo_propiedad }}
                            </div>
                        </div>
                    </div>
                    <div class="card custom-card card-border-orange mb-2">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="numero_interior" class="card-text custom-card-text">Número Interior</label>
                                {{ form.numero_interior }}
                            </div>
                        </div>
                    </div>
                    <div class="card custom-card card-border-cyan mb-2">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="numero_exterior" class="card-text custom-card-text">Número Exterior</label>
                                {{ form.numero_exterior }}
                            </div>
                        </div>
                    </div>
                    <div class="card custom-card card-border-purple mb-2">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="calle" class="card-text custom-card-text">Calle</label>
                                {{ form.calle }}
                            </div>
                        </div>
                    </div>
                    <div class="card custom-card card-border-blue mb-2">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="entre_calles" class="card-text custom-card-text">Entre Calles</label>
                                {{ form.entre_calles }}
                            </div>
                        </div>
                    </div>
                    <div class="card custom-card card-border-green mb-2">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="colonia" class="card-text custom-card-text">Colonia</label>
                                {{ form.colonia }}
                            </div>
                        </div>
                    </div>
                    <div class="card custom-card card-border-red mb-2">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="ciudad" class="card-text custom-card-text">Ciudad</label>
                                {{ form.ciudad }}
                            </div>
                        </div>
                    </div>
                    <div class="card custom-card card-border-orange mb-2">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="estado" class="card-text custom-card-text">Estado</label>
                                {{ form.estado }}
                            </div>
                        </div>
                    </div>
                    <div class="card custom-card card-border-cyan mb-2">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="codigo_postal" class="card-text custom-card-text">Código Postal</label>
                                {{ form.codigo_postal }}
                            </div>
                        </div>
                    </div>
                    <div class="card custom-card card-border-purple mb-2">
                        <div class="card-body">
                            <div class="form-group">
                                <label for="referencias" class="card-text custom-card-text">Referencias</label>
                                {{ form.referencias }}
                            </div>
                        </div>
                    </div>
                </div>

                <div class="form-group mb-2">
                    <button type="submit" name="export" class="btn btn-secondary">Exportar</button>
                </div>
            </form>
        </div>
    </div>
</div>
{% endblock %}